- var doc = company.doctors.pam

h2.text-center.mb-16.text-4xl.font-bold.leading-tight Our Doctor

.max-w-md.mx-auto.bg-white.border
  .flex.flex-wrap.items-center.justify-center.p-6(
    class="md:justify-start md:p-0"
  )
    .p-4
      img.h-48.border(
        src="/img/pamela-stover.jpg"
        alt="Pamela Barone Stover, DPM"
      )
    .p-4.leading-none
      .text-3xl.font-semibold.mb-2.text-grey-darkest.mb-0= doc.name
      .text-grey-dark.text-xl Doctor of Podiatric Medicine

  .flex.flex-wrap.flex-col.border-t.text-sm.leading-loose.text-grey-darkest
    p.p-4.border-b.leading-normal Dr. Stover is thrilled to continue her father's private practice and carry on the 40 year tradition of excellent podiatric care to the next generation. In her spare time she enjoys cooking, traveling, and spending time with her family.
    .p-4.border-b
      .font-semibold Specialization
      .leading-tight.text-grey-darker
        | Diabetic Wound Care and Limb Salvage
        br
        | Forefoot and Rearfoot Surgery
    .p-4.border-b
      span.font-semibold Undergraduate
      span.text-grey-dark.ml-2 1999-2003
      .leading-tight.text-grey-darker
        | B.A. Journalism and Mass Communication
        br
        | University of North Carolina, Chapel Hill, NC
    .p-4.border-b
      span.font-semibold Medical
      span.text-grey-dark.ml-2 2003-2007
      .leading-tight.text-grey-darker
        | Barry University, Miami Shores, FL
    .p-4.border-b
      span.font-semibold Residency
      span.text-grey-dark.ml-2 2007-2010
      .leading-tight.text-grey-darker
        | Veterans Affairs Medical Center, Dayton, OH

