.flex.flex-wrap.flex-col.items-center.py-8
  .my-4
    a(href="/")
      img.h-24(src="/img/logo.jpg" alt=site.title)
  .my-4.max-w-sm
    a.block.text-xl.bg-orange-dark.text-white.py-3.px-4.rounded-lg.no-underline.text-center(
      class="hover:bg-red"
      href=company.instrideProfileUrl
      target="_blank"
    ) Schedule an Appointment &raquo;
