h2.font-black.mb-8.text-center.text-4xl.leading-none.text-grey-darkest= site.title
.flex.flex-wrap.justify-center.items-center.text-center(
  class="lg:text-left"
)
  .mb-4.p-4(class="lg:w-1/3 lg:ml-auto")
    img.max-w-full.rounded-lg.shadow-md(src="/img/feet-in-hands.jpg")
  .mb-4.p-4.leading-normal(class="lg:w-1/3 lg:mr-auto")
    p.my-4.text-2xl.font-semibold.text-grey-darkest Where Feet Come First
    p.my-4.text-grey-darkest Since 1980 Hendersonville Podiatry has striven to offer the best in foot and ankle care for patients in our region. We provide quality care, employing the latest techniques and technologies.
    p.my-4.text-grey-darkest We offer a convenient location in the middle of downtown Hendersonville’s medical district, just blocks away from Pardee Hospital and Main Street.
