---
title: Podiatrist in Hendersonville, North Carolina
layout: layout.pug
---
include /mixins

section.section.bg-white
  +container()
    include /header

section.section.bg-grey-lighter.py-16.border-t.border-grey-light
  +container()
    include /intro

section.section.bg-blue-darker.text-white.py-16
  +container()
    include /patients

section.section.py-32.bg-grey-lighter
  +container()
    include /doctor

section.section.bg-blue-darker.text-white.py-16
  +container()
    include /services
