---
title: Podiatrist in Hendersonville, North Carolina
layout: layout.pug
---
include /mixins

section.section.bg-white
  +container()
    include /header

section.section.bg-grey-lighter.py-16.shadow-inner
  +container()
    include /intro

section.section.bg-blue-darker.text-white.py-16.shadow-inner
  +container()
    include /patients

section.section.py-32.bg-grey-lighter.shadow-inner
  +container()
    include /doctor

section.section
    include /footer
